*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: #1f2937;

     flex-direction: column;
     display: flex;
     gap: 2em;

    }
#hero-logo{
    color: #f9faf8;
    font-size: 24px;
    display: flex;
}
.logo-links{
    display: flex;
    justify-content: space-around;


}
nav{
    font-size: 18px;
    display: flex;
    color: #f9faf8;
    justify-content: space-between;
    gap: 5em;
}
.hearder-sections {
    display: flex;
}
.hearder-sections > div{
     flex-grow: 1;
     flex-shrink: 0;
     display: flex;
     flex-direction: column;
     gap: 0.1em;

    
}
 .hearder-sections button{
    position: relative;
    background-color: #3882fc;
    color: #f9faf8;
    border-radius: 5px;
    width: 25%;
    height: 30px;
    margin-top: 1em;
    cursor: pointer;
    border: none;
  
}
.text-button{ 
    padding: 50px 50px 50px 300px;

}
.image{
    padding-top: 50px;
}
h1{
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;


}
.nav-text, .text-button p{
    font-size: 18px;
    color: #e2e7eb;
}
#image-place{
    background: gray;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
img{ 
    width: 35px;
    height: 35px;
    border-radius: 360px;
}
b{
   display: flex;
   justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 36px ;
    color: #1f2937;

}
.info-section,.info-text{
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 30px;
}
.info-section > span{
    width: 150px;
    height: 150px ;
    border: 3px solid #7ca4e4;
    border-radius: 15px;

}
.info-text > span{
    width: 150px;
    height: 150px ;
    text-align: center;
}
.quote-area{
    background: #e5e7eb;
    text-align: center;
    padding: 100px;
    height: 300px;
}
.quote-area blockquote{
    font-size: 36px ;
    font-style: italic;
    color: #6c757d;
    
}
 #quote-auth{
    color: #000000;   
    text-decoration: underline;
    position: absolute;
    right: 20%;
   font-size: 30px;
}
.call-action{
    padding: 50px 25px 50px 25px;
    display: flex;
    justify-content: center;

}
.call-text1{
    background: #3882fc;
    /* text-align: center; */
    padding: 25px 50px 25px 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* flex: 2; */
 
    width: 500px;
    
}
.call-text2{
    background: #3882fc;
    padding: 30px 50px 25px 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 250px;
    /* flex: 1; */

  
}
.call-text2 button{
    position: relative;
    background-color: #3882fc;
    color: #f9faf8;
    border-radius: 5px;
    width: 60%;
    height: 30px;
    /* margin-top: 1em; */
    cursor: pointer;
    border: 2px solid #f9faf8;
  
}
h2, .call-text1 p{
    color: #f9faf8;
}
footer{
    background: #1f2937;
     color: #f9faf8;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
}
